@page "/gamesearch"
@using ArimaaAnalyzer.Maui.Models
@using ArimaaAnalyzer.Maui.Components
@using ArimaaAnalyzer.Maui.Services

<h1>Gamesearch</h1>

<div class="gamesearch-layout">
    <div class="gs-left">
        <GameSearchMenu />
    </div>
    <div class="gs-right">
        <GameRecordList Items="_games" PageSize="5" />
    </div>
    
</div>

@code {
    private List<GameRecord>? _games = GameRecordService.LoadAll();
}
